*.bak
*.hi
*.o
*.class
*~
bnfc/*.hs
bnfc/*.aux
bnfc/*.dvi
bnfc/*.log
bnfc/*.ps
bnfc/*.tex
bnfc/*.txt
bnfc/*.x
bnfc/*.y
bnfc/Makefile
bnfc/TestSwag
bnfc/Swag
bnfc/Play/Play
bnfc/Play/Makefile
bnfc/Play/Play.tex
